.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.4fr 1fr; /* Tres columnas: formulario, título, SVG */
    grid-template-rows: .5fr 1fr; /* Fila superior para el título y luego el contenido */
    background: linear-gradient(to bottom, #fef9e1, #ffecccd4);
    overflow: hidden;
    position: relative;
  }
  
  .elipse {
    width: 41.25rem; /* 660px ÷ 16px */
    height: 41.25rem;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom, #9e4e4ea2, #6d232317);
    pointer-events: none;
    z-index: 0
  
  }
  
  .elipseSuperiorIzquierda {
    top: -25.625rem;
    left: -25.625rem;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
  }
  
  .elipseInferiorDerecha {
    bottom: -25.625rem;
    right: -25.625rem;
    clip-path: polygon(0% 0%, 50% 0%, 50% 50%, 0% 50%);
  }
  
  .title {
    grid-column: 2 / 3;  /* Centrado en la columna del medio */
    grid-row: 1 / 2;     /* Parte superior */
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 2.5rem; /* 90px ÷ 16px */
    z-index: 1;
    position: relative;
  }

  
  .loginForm {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 19rem;
    height: 28.5rem;
    background-color: #ffffffc6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    justify-self: right;
    z-index: 1;
    position: relative;
    border: 1px solid rgba(255, 122, 122, 0.033);
  }
  .svg {
    grid-column: 3 / 4;   /* Última columna para el SVG */
    grid-row: 2 / 3;
    width: 20rem;
    height: 30rem;
    background-color: none; /* Placeholder */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    justify-self: left; /* 72px ÷ 16px */
    z-index: 1
  }
  
  .formHeader {
    width: 100%;
    padding: 1rem;
    background-color: rgba(196, 196, 196, 0.1); /* #C4C4C4 con 10% de opacidad */
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    box-sizing: border-box;
  }
  .input {
    color: black;
    width: 70%;
    padding: 0.5rem;
    padding-right: 2.5rem; /* Espacio para el ícono */
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    font-size: .8rem;
  }
  
  .input:focus {
    border-bottom: 1px solid #9b4343a2; /* Cambio de color al hacer foco */
  }
  .inputWrapper {
    position: relative;
    width: 80%;
    margin-bottom: .5rem;
  }
  .inputIcon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: .8rem;
    height: .8rem;
    cursor: pointer;
  }
  .formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0rem 1rem;
    width: 100%;
    height: 100%;
  }
  
  .button {
    width: 11.25rem;
    height: 3.125rem;
    padding: 0.5rem;
    background-color: #9b4343a2;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  .buttonDisabled {
    width: 11.25rem;
    height: 3.125rem;
    padding: 0.5rem;
    background-color: #989898d1;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .a {
    font-size: 0.875rem;
    color: #9b4343;
    text-decoration: none;
    cursor: pointer;
  }
  