PORT=
HOST=
SERVER=
SECRET=

# Database
DB_HOST=
DB_NAME=
DB_PA7_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Mail
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
ELASTIC_USER=
ELASTIC_PASS=
MAIL_TRAP_USER=
MAIL_TRAP_PASS=
