.select {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select select {
    border: none;
    border-bottom: 2px solid #800000;
    padding: 8px;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #000000;
    width: 15rem;
    text-align: center;
    cursor: pointer;
}

.select select select:focus {
    border-bottom: 2px solid #a52a2a;
}
.concepto {
    display: flex;
    flex-direction: column;
}

.importe{
    display: flex;
    flex-direction: column;
}


.fichaWrapper {
  max-height: 290px;
  overflow-y: auto;
  margin-top: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 70%; /* Para aprovechar todo el ancho disponible */
}

.fichaTabla {
  width: 100%;
  min-width: 500px; /* O el doble del ancho anterior */
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}
.fichaTabla thead {
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  z-index: 1;
}

.fichaTabla th,
.fichaTabla td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.fichaTabla tr:hover {
  background-color: #f1f1f1;
}
.totalResumen {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1rem;
}

.importeAlignRight {
  text-align: right;
  text-align-last: right;
}

  .spinnerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .loadingText {
    font-size: 16px;
    color: #800020;
    font-weight: bold;
  }
  .dataGrid {
    font-family: 'Segoe UI', sans-serif;
    padding: 4rem;
    font-size: 12px;
  }
  .totalItem {
  font-weight: bold;
  background-color: #f8f0f0;
  color: #800020;
}