.container {
    padding: 2rem;
    overflow-x: auto;
    overflow-y: auto;
  }
  
  .dataGrid {
    font-family: 'Segoe UI', sans-serif;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }