  .container {
    position: relative;
    padding: 2rem;
    overflow-x: auto;
    overflow-y: auto;
  }
.spinnerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    justify-self: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    position: relative;
  }

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 5rem;
    margin: .5rem;
    padding: .5rem;
}
.inputContainer input[type="text"] {
    border: none;
    border-bottom: 2px solid #800000; 
    padding: 8px;
    outline: none;
    width: 100%;
    background-color: transparent;
  }
  
  .inputContainer input[type="text"]:focus {
    border-bottom: 2px solid #a52a2a;
  }
  .inputContainer input[type="date"] {
    border: none;
    border-bottom: 2px solid #800000; 
    padding: 8px;
    outline: none;
    width: 100%;
    background-color: transparent;
  }
  
  .inputContainer input[type="date"]:focus {
    border-bottom: 2px solid #a52a2a;
  }
  .inputContainer select {
    border: none;
    border-bottom: 2px solid #800000;
    padding: 8px;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #000000;
    width: 100%;
    cursor: pointer;
  }

  .inputContainer input[type="number"] {
    border: none;
    border-bottom: 2px solid #800000;
    padding: 8px;
    outline: none;
    background-color: transparent; 
    width: 100%;
    cursor: pointer;
  }
  .inputContainer select:focus {
    border-bottom: 2px solid #a52a2a;
  }
    .inputContainer textarea {
    border: none;
    border-bottom: 2px solid #800000;
    padding: 8px;
    outline: none;
    background-color: transparent;
    resize: vertical;
    font-family: inherit;
    width: 14rem;
  }
  .inputContainer textarea:focus {
    border-bottom: 2px solid #a52a2a;
  }
    .sendBtn {
    width: 4rem;
    height: 2rem;
    align-self: center;
    margin-top: 20px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: sticky;
    bottom: 0;
    background-color: #800000;
    z-index: 10;
  }
  .sendBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .importeTotal{
    color: black;
  }
  .sendBtn:hover {
    background-color: #a52a2a;
  }
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem;
}
.column {
  background-color: #c1c1c112;;
  border: 1px solid #ccc;
  padding: 0.5rem;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.columnHeader {
   display: flex;
   flex-direction: column;
   margin-bottom: 2rem;
   height: 6rem;
   justify-content: space-evenly;
}
.scrollableList {
  overflow-y: auto;
  flex: 1;
}
.vehiculoItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0;
}
.generalControls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: anchor-center;
}

.gridContainer input[type="text"] {
    border: none;
    border-bottom: 2px solid #800000; 
    padding: 8px;
    outline: none;
    width: 50%;
    background-color: transparent;
  }
  
  .gridContainer input[type="text"]:focus {
    border-bottom: 2px solid #a52a2a;
  }
  .generalControls input[type="text"] {
    border: none;
    border-bottom: 2px solid #800000; 
    padding: 8px;
    outline: none;
    width: 20%;
    background-color: transparent;
  }
  
  .generalControls input[type="text"]:focus {
    border-bottom: 2px solid #a52a2a;
  }